<div class="custom-image-gallery" role="button" {{on "click" this.onClick}}>
  <div>this: {{this}}</div>
  <div>root.settings {{this.root.settings}}</div>
  <div>node.properties.name: {{@node.properties.name}}</div>
  <div>clicks: {{this.count}}</div>

  <Remark::Render::Content @node={{@node}} @parent={{this}}/>
</div>