<div>this: {{this}}</div>
<div>root: {{root}}</div>
<div>root.settings {{root.settings}}</div>
<div>node.properties.name: {{node.properties.name}}</div>
<div>clicks: {{count}}</div>

{{ui-remark/render/content node=node parent=this}}
